body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: #3574d1;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
  }
  
  .player {
    padding: 15px;
    height: 200px;
    background-color: #ffffff;
    box-shadow: #000000 11px 11px 5px;
    text-align: center;
    margin: 0 10px;
    flex: 1;
    flex-basis:calc(50%-20px);
  }
  
  .card {
    margin: 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .buttons button {
    margin: 0 5px;
  }
  