body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #b8b8ff;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .player {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 10px;
    flex: 1;
  }
  
  .card {
    margin-bottom: 10px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .buttons button {
    margin: 0 5px;
  }
  